html {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'K2D';
  font-size: 4em;
  color: #3F66F1;
  font-weight: bold;
  text-align: center;
  margin: 2em;
}

h2 {
  font-family: 'K2D';
  font-size: 2.5em;
  color: #77A170;
  font-weight: normal;
  text-align: center;
  margin: 1em;
}

h3 {
  font-family: 'Poppins';
  font-size: 1.5em;
  color: #3F66F1;
  font-weight: normal;
  text-align: center;
  margin: .5em;
}

p {
  font-family: 'Roboto';
  font-size: 1.5em;
  color: #685E5E;
  font-weight: normal;
  text-align: center;
  margin: .5em;
}

b {
  font-family: 'Poppins';
  font-size: 1.5em;
  color: #3F66F1;
  font-weight: bold;
  text-align: center;
  margin: .5em;
}


/* Top Navigation START */

.topnav {
  width: 100%;
  height: 80px;
  display: flex;
  background-color: #F5F5DC;
  justify-content: center;
  align-items: center;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topnav li {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.topnav li a {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #685E5E;
  font-family: 'Roboto';
  font-size: 16px;
}

.topnav li a:hover {
  background-color: #3F66F1;
  color: #F5F5DC;
}

/* Top Navigation ENDE */

/* Startbereich START */

.startbereich_hintergrundbild img {
  max-width: 100%;
  height: auto;
}

.startbereich_hintergrundbild {
  background-image: url("neon_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
}

.startbereich_hintergrundbild h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 5px;
}

.startbereich_hintergrundbild h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.startbereich_hintergrundbild p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*Startbereich ENDE */

/*Über mich START */

.ueber_mich {
  position: relative;
}

.ueber_mich p {
  margin: 0 auto 20px auto;
  text-align: center;
  padding: 50px;
}

.ueber_mich img {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 100%;
  height: auto;
  padding: 50px;
}

/* Über mich ENDE */

/* Lebenslauf START */

.lebenslauf {
  background-color: #F5F5DC;
  padding: 2em;
  text-align: center;
}

/* Lebenslauf ENDE '/

/* Disziplinen START */

.disziplinen_auflisten {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.box_1, .box_2, .box_3 {
  box-shadow: 0 0 50px #685E5E;
  width: 30%;
  margin-right: 3.33%;
  }

.disziplinen_cad, .disziplinen_rp, .disziplinen_dug {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  border: 5px solid #685E5E;
  padding: 10px;
  background-color: #F5F5DC;
  border-radius: 10px;
}

.disziplinen_cad img, .disziplinen_rp img, .disziplinen_dug img {
width: 100%;
height: auto;
}