html {
  scroll-behavior: smooth;
}

h1 {
  font-family: K2D;
  font-size: 4em;
  color: #3F66F1;
  font-weight: bold;
  text-align: center;
  margin: 2em;
}

h2 {
  font-family: K2D;
  font-size: 3em;
  color: #77A170;
  font-weight: normal;
  text-align: center;
  margin: 1.5em;
}

h3 {
  font-family: Poppins;
  font-size: 2em;
  color: #3F66F1;
  font-weight: normal;
  text-align: center;
  margin: .5em;
}