html {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'K2D';
  font-size: 4em;
  color: #3F66F1;
  font-weight: bold;
  text-align: center;
  margin: 2em;
}

h2 {
  font-family: 'K2D';
  font-size: 2.5em;
  color: #77A170;
  font-weight: normal;
  text-align: center;
  margin: 1.5em;
}

h3 {
  font-family: 'Poppins';
  font-size: 1.5em;
  color: #3F66F1;
  font-weight: normal;
  text-align: center;
  margin: .5em;
}

.topnav {
  width: 100%;
  height: 80px;
  display: block;
  background-color: #685E5E;
}

.inner_topnav {
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: #F5F5DC;
}

.logo_container {
  color: #F5F5DC;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'K2D';
  font-size: 32px;
  font-weight: 200;
}

.logo_container h2 span {
  font-weight: 800;
}

.navigation {
  float: right;
  height: 100%;
}

.navigation a{
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.navigation a:last-child{
  padding-right: 0;
}

.navigation a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #685E5E;
  font-family: 'Roboto';
  font-size: 16px;
}

.startbereich {
  background-image: url("neon_header.jpg");
  width: 1600px;
  height: 970px;
}